<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirect everything that is not a real file or directory to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>